<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="connectionString" value=""/>
    <add key="crystalServer" value="e:\crystal_reports\"/>
    <add key="crystalDB" value="e:\crystal_reports\"/>

    <add key="crystalReportsPath" value="e:\crystal_reports\"/>
    <add key="outputDirectory" value="e:\dataconversion\output\"/>
  </appSettings>

</configuration>